# ===============================
# Data (do not track large files)
# ===============================
data/
*.csv
*.tsv
*.xlsx
*.parquet
*.h5
*.hdf5
*.rds

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDEs
# ===============================
.vscode/
.idea/
